html{height: 100%;}

.skip a{
  background: #ffff00;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  text-decoration: none;
  position: absolute;
  top: -40px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.skip a:focus{
  top: 0px;
  color: #000000;
}

#logo{
  height: 5em;
  padding: 0.25em;
}

/* Navbar */
nav {
  padding: 0.25em;
}

header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-row: 1/3;
  overflow: hidden;
}

.nav_links{
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav_item a{
  color: black;
  text-decoration: none;
  padding: 0.25em;
}

.nav_item a:hover, a:focus{
  color: #0000ff;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

li.nav_item#here a:hover, a:focus{
  color: #ffff00;
}

#here {
  text-decoration: line-through;
  text-decoration-thickness: 0.20em;
  background: #ffff00;
}

main {
  grid-row: 3/-2;
  overflow: scroll;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  background-color: #ffffff;
  display: grid;
  height: 100%;
  max-width: 100%;
  grid-template-rows: repeat(12, 1fr);
}

.container {
    padding: 1.5em;
    line-height: 1.25;
}

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5em;
    padding: 1em;
}

footer{
  background-color: black;
  color: white;
  padding: 1em;
  text-align: center;
  line-height: 1.5;
  font-size: 0.75em;
  grid-row: 12/-1;
}

.smaller {
  font-size: 0.75em
}

p#main{
  padding: 1.5em;
  line-height: 1.5;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit] {
    background-color: #ffff00;
    border: 0.20em solid black ;
    color: black;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    -webkit-appearance: none;
}

input[type=submit]:hover, input[type=submit]:focus{
    background-color: #0000ff;
    color: white;
    border: 0.20em solid white ;
}

@media screen and (min-width: 850px){

  nav{
      padding-right: 3em;
  }

  #logo{
      padding-left: 3em;
  }

  main{
      padding: 0 2em;
  }

}

@media (prefers-reduced-motion: reduce){

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
  }