html {
  height: 100%;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  background-color: #2D2D2D;
  display: grid;
  max-height: 100%;
  max-width: 100%;
  grid-template-rows: repeat(12, 1fr);
  overflow:hidden;
}

.skip a{
  background: #ffff00;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  text-decoration: none;
  position: absolute;
  top: -40px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.skip a:focus{
  top: 0px;
  color: #000000;
}

#logo{
  height: 5em;
  padding: 0.25em;
}

/* Navbar */
nav {
  padding: 0.25em;
}

header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-row: 1/3;
  overflow: hidden;
}

.nav_links{
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav_item a{
  color: black;
  text-decoration: none;
  padding: 0.25em;
}

.nav_item a:hover, a:focus{

  color: #0000ff;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}


main {
  grid-row: 3/-2;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  line-height: 1.25;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.025em #000000;
  padding-left: 0.5em;
  position: relative;
  background: #ffff00;
  grid-row: 5/-1;
  grid-column: 1/span 3;
}

div.slideshow-container {
  grid-row: 1/11;
  grid-column: 1/-1;
}

/* Hide the images by default */
.slides {
  display: none;
  overflow: hidden;
}

.slides img{
  height: 700px;
  min-width: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3.5em;
  padding: 0.5em;
  color: #000000;
  font-size: 1em;
  transition: 0.8s ease;
  user-select: none;
  background: #ffff00;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .25}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .25}
  to {opacity: 1}
}

footer{
  background-color: black;
  color: white;
  padding: 1em;
  text-align: center;
  line-height: 1.5;
  font-size: 0.75em;
  grid-row: 12/-1;
  grid-column: 1/-1;
}

.smaller {
  font-size: 0.75em
}

/* Loader animation */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader p {
  font-family:'IBM Plex Sans', sans-serif;
  position: absolute;
  font-size: 6em;
  background: none;
}

.loader p:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 3px #0000ff;
}

.loader p:nth-child(2){
  color: #0000ff;
  -webkit-text-stroke: 2px #0000ff;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave{
  0%,100%{
    clip-path: polygon(0% 58%, 14% 52%, 31% 49%,
     46% 51%, 58% 58%, 69% 64%, 80% 67%, 90% 66%,
     100% 62%, 100% 150%, 0 150%);
  }
  50%{
    clip-path: polygon(0% 58%, 11% 66%, 25% 71%,
    39% 70%, 52% 64%, 63% 55%, 78% 51%, 89% 53%,
    100% 60%, 100% 150%, 0 150%);


  }

}

@media (prefers-reduced-motion: reduce){
  .fade {
    animation: none;
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }
}

@media screen and (min-width: 850px){

  .container{
      width: 64%;
      padding-top: 36%; /* maintain 16:9 ratio */
      margin-top: 1.5em;
  }

  nav{
      padding-right: 3em;
  }

  #logo{
      padding-left: 3em;
  }

  h1{
    padding-left: 1.5em;
  }

}