html{height: 100%;}

body{
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  background-color: #ffffff;
  display: grid;
  max-height: 100%;
  max-width: 100%;
  grid-template-rows: repeat(12, 1fr);
}

main h1, main p {
    line-height: 1.15em;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5em;
  padding: 1em;
}

p{padding: 1.5em;}


#logo{
  height: 5em;
  padding: 0.25em;
}

/* Navbar */
nav {
  padding: 0.25em;
}

.skip a{
  background: #ffff00;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  text-decoration: none;
  position: absolute;
  top: -40px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.skip a:focus{
  top: 0px;
  color: #000000;

}


header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-row: 1/3;
  overflow: hidden;
}

.nav_links{
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav_item a{
  color: black;
  text-decoration: none;
  padding: 0.25em;
}

.nav_item a:hover, a:focus{

  color: #0000ff;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

#here {
  text-decoration: line-through; 
  text-decoration-thickness: 0.20em;
  text-decoration-color: #ffff00;
}

main {
  grid-row: 3/-2;
}

.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
    padding-bottom: 5em;
}

div img {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 300px;
    object-fit: cover;
}

.profile {
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

li{
    list-style-type: none;
}

.name{
    padding-bottom: 0.5em;
    font-family: 'IBM Plex Sans', sans-serif;
}

.title {
    padding-top: 0.5em;
}

.school {
    opacity: 0.5;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.25;

}

.intro{
    font-size:0.75em;
    line-height: 1.25;
}

footer{
  background-color: black;
  color: white;
  padding: 1em;
  text-align: center;
  line-height: 1.5;
  font-size: 0.75em;
  bottom: 0;
  position:fixed;
  width: 100%;
  grid-row: -2/-1;
}

.smaller {
  font-size: 0.75em
}